
    body{
        /* background-color: yellow; 
        background-image: linear-gradient(yellow,red); */
         /* background-image: url(./WallpaperDog-20465723.jpg);
        background-repeat: no-repeat;
        background-size:cover;  */
    }
    img{
        width: 400px;
        height: 300px;
        /* border: 10px solid black;
        padding: 20px 40px 60px 80px;
        margin-left: 450px; */
    }
    Symbol{
        width: 100px;
    }
    header{
        
        margin: 100px;
        text-align: center;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: uppercase;
        font-size: 100px;
        background: -webkit-linear-gradient(#eb4d14,#EBB014,#FFDE40,#9C4100,#9C4100,#9C4100);
        -webkit-background-clip:text;
        -webkit-text-fill-color:transparent;
    }
    h1{color: rgb(228, 117, 19);

        font-size: 50px;}
    p{color: rgb(33, 13, 217);}
    table{
        border: 2px solid black;
        border-collapse: collapse;
        width: 60%;
    }
    th,td{
        border: 2px solid black;
        text-align: left;
        padding: 8px;
    }
    th{
        background-color:lightsalmon;
    }
    td{
        background-color:antiquewhite;
    }
    #Qsp{
        color: chartreuse;
    }
    #Jsp{
        color: darkorange;
    }
    #Vir{
        color: deeppink;
    }
    .Ind{
        color: darkorange;
    }
    #aus{
        color: aqua;
    }
    #wes{
        color: black;
    }
    #Ing{
        color: bisque;
    }
    #Shr{
        color: gold;
    }
    h3{
        display: inline;
    }
    a{
        display: block;
    }
    video{
        display: block;
       width: 150mm;
       
    }
    /* img{
        float: right;
    } */
    #Pad{
        text-align: center;
    }
    .fa{
        font-size: 200px;
        color:red;
    }
    img:hover{
        /* width: 300px;
        height: 400px;
        border: 4px solid red;
        border-radius: 100%;
        box-shadow: 5px 5px 5px black;
        transform: rotate(360deg);
        transition: ease-in-out 2s; */
    }

